Here for the first time?
<%= link_to 'Register a new account', new_user_path %>
<br>
Returning user? <%= link_to 'Log in to existing account', new_session_path %>
<br>
<% @users %>

<table>

<% @users.each do |user| %>
<tr>
<td><%= user.posts %></td>
</tr>
<% end %>
</table>
