<div class="main text-center">
  <div class="user-image">
    <%= image_tag @user.profile_image_uri, width: "150px", class: "img-circle" %>
    </div>
    <div class="caption text-over-image">
      <h1><%= @user.handle %></h1>
    </div>
  </div>
  <h3><em><%= @clipr_message || "Welcome to Clipr…" %></em></h3>
