<li><a href="#" class="btn btn-sm btn-default"
   data-toggle="modal" data-controls-modal="modal-from-dom" data-backdrop="static" data-keyboard="true" data-target="#loginModal">Login or Register</a></li>
