    <div class="collapse navbar-collapse navbar-right" id="nav-collapse">
        <%= form_tag posts_path, id: "search", class: "navbar-form", method: :get do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:search], {class: "form-control", placeholder: "Search for post"} %>
          </div>
          <div class="btn btn-default" onclick="document.getElementById('search').submit()">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </div>

        <% end %>

        <li><a href="#" class="btn btn-sm btn-default"
   data-toggle="modal" data-controls-modal="modal-from-dom" data-backdrop="static" data-keyboard="true" data-target="#loginModal">Login or Register</a></li>

    <% if current_user %>
        <%= link_to('Your profile', user_path(current_user), class: "btn btn-default navbar-btn", type: "button") if params[:controller] != "users" %>
        <%= link_to 'Log out', new_session_path, class: "btn btn-default navbar-btn", type: "button", method: :delete %>
        <% end %>

        </div>
